.contact {
    background-color: #3a3a3a;
    padding: 2rem 6rem;
    color: white;
  }
  .contact input,
  textarea {
    color: black;
  }
  
  .contact h1,
  .contact h2,
  .contact h4 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }
  .contact p {
    font-family: "Roboto", Helvetica, serif;
  }
  .contact-header-quote {
    font-style: italic;
  }
  .contact-header-quote h4 {
    margin: 0.3rem 0;
  }
  .contact-instructions,
  .contact-form-body {
    margin-top: 0.3rem;
    padding: 0px 6%;
  }
  
  .email,
  .message {
    margin: 0.3rem 0px;
  }
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 0.3rem;
    margin: 0.2rem 0px;
  }
  
  .submit-contact .btn-border {
    margin-top: 0.3rem;
  }