.projects {
    background-color: #59585d;
    padding: 3vw;
    color: white;;
  }
  
  .projects-header-quote {
    margin-bottom: 1.5vw;
  }
  .projects h1,
  .projects h2 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }

  .projects h1 {
    font-size: 3.2vw;
  }
  .projects h2 {
    font-size: 2.6vw;
  }
  .projects h3 {
    font-size: 2.2vw;
    padding: 0.5vw auto;
  }
  .projects p {
    font-family: "Roboto", Helvetica, serif;
    font-size: 1vw;
    padding: 0 0.3vw;
    height: 36%;
    overflow: auto;
  }
  
  .projects-header-quote {
    font-style: italic;
  }
  /*.luvtalk-project, .personal-website-project, .strike-zone-project, .resume {border: 3px solid white;}*/
  .luvtalk-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../images/luvtalklogo.png);
    background-position: center center;
  }
  
  .personal-website-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url( ../images/logo.svg);
    background-position: center center;
  }
  
  .strike-zone-project {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(../images/mlbproject.png);
    background-position: center center;
  }

  .project-more-info{
    position: absolute;
  }

  .project-more-info .btn {
    height: 3.5vw;
    width: 6vw;
    font-size: 1.4vw;
  }

  .relative-pos {
    position: relative;
  }

  .mb-3 {
    margin-bottom: 3vw;
  }