.projects {
    background-color: #59585d;
    padding: 3vw;
    color: white;;
  }
  
  .projects-header-quote {
    margin-bottom: 1.5vw;
  }
  .projects h1,
  .projects h2 {
    font-family: "Source Sans Pro", Arial, sans-serif;
  }

  .projects h1 {
    font-size: 3.2vw;
  }
  .projects h2 {
    font-size: 2.6vw;
  }
  .projects h3 {
    font-size: 2.2vw;
    padding: 0.5vw auto;
  }
  .projects p {
    font-family: "Roboto", Helvetica, serif;
    font-size: 1vw;
    padding: 0 0.3vw;
    overflow: auto;
  }
  
  .projects-header-quote {
    font-style: italic;
  }

  .btn-more {
    height: 3.5vw;
    width: 10vw !important;
    font-size: 1.4vw;
  }

  .btn-more:hover {
    color: black;
  }

  .project-container {
    margin-bottom: 4vw;
  }

  .card {
    border-radius: 5px;
    background: #59585d;
    box-shadow: 0 6px 10px rgba(0,0,0,.09), 0 0 6px rgba(0,0,0,.04);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),
      .3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    margin-bottom: 8vw;
  }
  .card-text {
    visibility: hidden;
  }
  .card-img {
    height: inherit;
    padding: 1vw;
  }

  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card:hover .card-text {
  visibility:visible;
  animation: card-text 1.5s ease-out;
}
@keyframes card-text {
  0% { 
    transform: translateY(200%); 		
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% { 
    transform: translateY(0%); 
  }
}
