.summary {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
      url(./images/architecture-2178604_1920-main1.jpg);
    background-attachment: fixed;
    background-attachment: center center;
    color: white;
    padding: 2.2vw 1vw;
  }
  
  .summary .row {
    padding: 4vw 6%;
    width: 100%;
  }
  .summary .row > *:nth-child(even) {
    margin-right: 6vw;
  }
  .summary h3 {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 2.2vw;
  }
  .summary p {
    font-family: "Roboto", Helvetica, serif;
    font-size: 1.3vw;
  }
