/* Navigation */
.navigation {
    position: absolute;
    width: 100%;
    padding: 0.25vw 0px;
    background: linear-gradient(rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 0.1));
    
}
.logo img {
    height: 2.5vw;
}
.primary-nav {
    padding-right: 4vw;
    text-align: right;
}
.primary-nav li {
    display: inline-block;
    margin: 0px 1.5vw;
    color: white;
    font-size: 1.4vw;
}

.primary-nav a {
    color: white;
    padding-bottom: 0.5rem;
    -webkit-transition: border 50ms linear;
    -moz-transition: border 50ms linear;
    -o-transition: border 50ms linear;
    -ms-transition: border 50ms linear;
    transition: border 50ms linear;
    text-decoration: none;
}
.primary-nav a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #f5f5f5;
}